<% layout("layouts/boilerplate") %> 


    <div class="row mt-3">
        <div class="col-8 offset-2">


    <h3>EDIT YOUR LISTING</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"> 

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input  name="listing[title]" value="<%= listing.title %> " class="form-control">
        </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" name="listing[description]" value="<%= listing.description %>" class="form-control">
    </div>

    
   <div class="mb-3">
     <label for="Image" class="form-label">Image</label>
     <input type="text" name="listing[image]" value="<%= listing.image %>" class="form-control">
</div>
    
   <div class="row">
    <div class="mb-3 col-md-4">
        <label for="Price" class="form-label">Price</label>
        <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control">
       </div>
        
        <div class="mb-3 col-md-8">
            <label for="Country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control">
        </div>
   </div>

   <div class="mb-3">
    <label for="Location" class="form-label">Location</label>
    <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control">
   </div>
    
    
    <button class="btn btn-dark add-btn mt-4" >EDIT</button>
    <br><br><br>
    </form>
</div>
</div>
